body {
    text-align: center;
    background-image: url("/src/images/bedroom-1285156_1920.jpg");
    background-size: cover;
}
.main-container {
    text-align: center;
    background-color: lightgreen;
    margin-top: 2em;
    padding: 1em;
}

h1 {
    size: 56px;
}

.money {
    color: green;
}

.received-container {
    background-color: lightslategray;
    padding: 1em;
}